extends ../layout
include ../header

block title
    title= 'IKLANT-Change Password'

block scripts
    include ../headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(type='text/javascript', src='/javascripts/user_management/changePassword.js')
    script(type='text/javascript', src='/javascripts/validation.js')

block content
    div(data-role='page', data-theme='b', id="loginDetailsDiv")
        -if(passwordChanged !=0){
            +header("",["welcomeNote","menu","logout"])
        -} else {
            +header("",["welcomeNote","logout"])
        -}
        div(id="changePasswordDiv",class="ui-bar ui-bar-c ui-corner-all", data-theme="a", data-overlay-theme="a", align="center")
            form(id="changePasswordFormID", align="center", method="post",action="")
                p(id='errorMessageId',align="center",class='error-message global-font-details') #{errorMessage}
                div(data-role="fieldcontain", data-mini="true")
                    label(for="userName", data-inline="true", class="label") User Name
                    input(type="text", name="userName", id="userName",onkeyup='forUserName(this)',required='required',readonly="readonly",value= userName)
                div(data-role="fieldcontain", data-mini="true")
                    label(for="password", data-inline="true", class="label") Old Password
                    input(type="password", name="oldPassword", id="password",required='required',onkeyup='forUserName(this)',onfocusout='forUserName(this)')
                div(data-role="fieldcontain", data-mini="true")
                    label(for="password", data-inline="true", class="label") New Password
                    input(type="password", name="newPassword", id="newPassword", value="",required='required',onkeyup='forUserName(this)',onfocusout='forUserName(this)')
                div(data-role="fieldcontain", data-mini="true")
                    label(for="password", data-inline="true", class="label") Confirm New Password
                    input(type="password", name="confirmPassword", id="confirmPassword", value="",required='required',onkeyup='forUserName(this)',onfocusout='forUserName(this)')
                a(href='JavaScript:changePassword()',  rel="external",data-theme="b",data-icon='check', data-role='button', title=' Submit ', data-inline="true", data-mini='true') Submit
                    -if(passwordChanged !=0){
                        a(href=contextPath + '/client/ci/menu', id="backUId", rel="external",data-theme="b",data-icon='back', data-role='button', title='Back', data-inline="true", data-mini='true') Back
                    -}

    div(class="ui-loader-background")