extends ../layout
include ../header

block title
    title= 'IKLANT-Forgot Password'

block scripts
    include ../headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(type='text/javascript', src="/javascripts/LoginValidations.js")
    script(type='text/javascript', src='/javascripts/common.js')

block content
    div(data-role='page', data-theme='b', id="loginDetailsDiv")
        +header("",[])
        noscript
            style(type='text/css')
                #forgotPasswordForm {display: none}
            .noscriptmsg
                center
                    b To use IKLANT, please enable JavaScript in your browser.
        form(id="forgotPasswordForm", align="center")
            div(id='forgotPasswordDiv',class="ui-bar ui-bar-c ui-corner-all", data-theme="a", data-overlay-theme="a", align="center")
                -if(errorMessage == "")
                    p(style='padding-top:1em;') Please provide the following details
                p(id='errorMessage',class='error-message global-font-details') #{errorMessage}
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:100%;')
                    div(class='ui-block-a',style="width:20%;padding-left:0.5em",align='left')
                        div(data-role="fieldcontain", data-mini="true")
                        label(for="forgotUserName", data-inline="true") User Name *
                    div(class='ui-block-b',style="width:80%")
                        div(data-role="fieldcontain", data-mini="true")
                            input(type="text", name="forgotUserName", id="forgotUserName", value="",onkeyup='forUserName(this)',onfocusout='forUserName(this)',autocomplete='off')
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:100%;')
                    div(class='ui-block-a',style="width:20%;padding-left:0.5em",align='left')
                        div(data-role="fieldcontain", data-mini="true")
                        label(for="email", data-inline="true") Email id *
                    div(class='ui-block-b',style="width:80%")
                        div(data-role="fieldcontain", data-mini="true")
                            input(type="email", name="email", id="email", value="",onkeyup='forEmailId(this)',autocomplete='off')
                div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a",style='width:70%;')
                    div(class='ui-block-a',style="width:35%",align='left')
                        a(href='JavaScript:getPassword()',rel="external", data-role='button', data-theme='b',data-mini="true", title=' Get Password ', data-inline='true') Get Password
                    div(class='ui-block-b',style="width:45%",align='right')
                        //a(href='JavaScript:resetFields()',rel="external", data-role='button', data-theme='b',data-mini="true", title=' Reset ', data-inline='true') Reset
                        a(href=contextPath + '/client/ci/login',rel="external", data-role='button', data-theme='b',data-icon='back',data-mini="true", title=' Reset ', data-inline='true') Login
        div(class="ui-loader-background")